<head>
  <base href="/">
  <title>IShop</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"crossorigin="anonymous">
</head>

<body>
  <app></app>
</body>
