<div class="text-center mb-3">
	<h2 class="text-center"> Categories</h2>
	<a routerLink="/categoryAdd" class="btn btn-success">Add category</a>
</div>
<table class="table centerTable">
  <tr>
  	<th>Name</th>
  	<th>Actions</th>
  </tr>	
  <tr *ngFor="let cateogy of categories | async">
	<td >
	    {{cateogy.content}}
    </td>
	<td class="text-right">
	    <button (click)="remove(cateogy._id)" class="btn btn-danger">Delete</button>
	</td>
  </tr>
</table>
