<div class="container">
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<a class="navbar-brand" href="#">IShop</a>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active">
					<a class="nav-link" routerLink="/categories">List category</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" routerLink="/products">List products</a>
				</li>
			</ul>
		</div>
	</nav>
	<router-outlet></router-outlet>
</div>
