<form [formGroup]="form" (submit)="onSubmit()" class="formCetnter">
  <a routerLink="/products" class="text-mute mb-1">Back to list products</a>
  <h4>Add product</h4>
  <div class="form-group">
	  <label for="content">
	    Name
	  </label>
	  <input 
	  	class="form-control" 
	  	type="text" 
	  	formControlName="name"
	  	[ngClass]="{'form-control-danger': form.get('name').touched && form.get('name').errors}"
	  	>
	  	<app-form-input-error *ngIf="form.get('name').touched"
                                    [errors]="form.get('name').errors"
                                    [field]="'name'"
              ></app-form-input-error>
  </div>
    <div class="form-group">
	  <label for="content">
	    Category
	  </label>
		<select 
			class="form-control" 
			type="text" 
			formControlName="category"
			>
			<option *ngFor="let item of categories | async" [value]="item._id">{{item.content}}</option>
		</select>
	  	<app-form-input-error *ngIf="form.get('category').touched"
                                    [errors]="form.get('category').errors"
                                    [field]="'category'"
              ></app-form-input-error>
  </div>
  <div class="form-group">
  	<button type="submit" [disabled]="form.invalid" class="btn btn-success">Add</button>
  </div>
</form>
