@-webkit-keyframes spin {
  0% {
    transform: rotate(0)
  }
  100% {
    transform: rotate(360deg)
  }
}

@-moz-keyframes small-spin {
  0% {
    -moz-transform: rotate(0)
  }
  100% {
    -moz-transform: rotate(360deg)
  }
}

@keyframes small-spin {
  0% {
    transform: rotate(0)
  }
  100% {
    transform: rotate(360deg)
  }
}

.small-spinner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1003;
  background: rgba(0, 0, 0, 0.36);
  overflow: hidden;
  opacity: 0.8;
}

.small-spinner div:first-child {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 100px;
  height: 100px;
  margin-left: -75px;
  border-radius: 50%;
  box-shadow: 0 3px 3px 0 rgba(255, 56, 106, 1);
  transform: translate3d(0, 0, 0);
  animation: small-spin 2s linear infinite;
  margin-top: -50px;
  transform: translateY(-50%);
}

.small-spinner div:first-child:after, .small-spinner div:first-child:before {
  content: '';
  position: absolute;
  border-radius: 50%
}

.small-spinner div:first-child:before {
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  box-shadow: 0 3px 3px 0 rgb(255, 228, 32);
  -webkit-animation: small-spin 3s linear infinite;
  animation: small-spin 3s linear infinite
}

.small-spinner div:first-child:after {
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  box-shadow: 0 3px 3px 0 rgba(61, 175, 255, 1);
  animation: small-spin 1.5s linear infinite
}

.spinner-wrapper {

}
