<form [formGroup]="form" (submit)="onSubmit()" class="formCetnter">
  <a routerLink="/categories" class="text-mute mb-1">Back to list category</a>
  <div class="form-group">
	  <h4>Add category</h4>
	  <label for="content">
	    Name
	  </label>
	  <input 
	  	class="form-control" 
	  	type="text" 
	  	formControlName="name"
	  	[ngClass]="{'form-control-danger': form.get('name').touched && form.get('name').errors}"
	  	>
	  	<app-form-input-error *ngIf="form.get('name').touched"
                                    [errors]="form.get('name').errors"
                                    [field]="'name'"
              ></app-form-input-error>
  </div>
  <div class="form-group">
  	<button type="submit" [disabled]="form.invalid" class="btn btn-success">Add</button>
  </div>
</form>
