<div class="text-center mb-3">
	<h2 class="text-center"> Products</h2>
	<a routerLink="/productsAdd" class="btn btn-success">Add product</a>
</div>
<table class="table centerTable">
  <tr>
  	<th>Name</th>
  	<th>Category</th>
  	<th>Actions</th>
  </tr>	
  <tr *ngFor="let item of products | async">
	<td >
	    {{item.name}}
    </td>
	<td >
	    {{getCategory(item.category)}}
    </td>
	<td class="text-right">
	    <button (click)="remove(item._id)" class="btn btn-danger">Delete</button>
	</td>
  </tr>
</table>
